.container-fancy {
  height: 100%;
  width: 90%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.content-wrapper-fancy {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  

}
.title-fancy{
  padding: 0rem;
}

.description-fancy{
  padding: 0rem;
}
.scrolling-text-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(300px, 80vw); /* Match the width in the img style */
  height: 400px;
  aspect-ratio: 1 / 1; /* Create a square aspect ratio */
  z-index: 20; /* Higher z-index to ensure it's above scrolling text */
  pointer-events: none;
}

/* Specific styles for slider inside overlay-image */
.overlay-image .slider-container {
  width: 100%;
  height: 100%;
}

.overlay-image .slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-fancy {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 5px;
  width: 150%;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  h1 {
    font-size: 100px;
    color: #ce3f3f;
    line-height: 0.8;
    margin: 0 auto;
  }
}

.box-left-fancy {
  align-self: flex-start;
  background-color: transparent;
}

.box-right-fancy {
  align-self: flex-end;
  background-color: transparent;
}


@media (max-width: 1500px) {
  .container-fancy {
    width: 100%;
  
  }
  
  .box-fancy h1 {
    font-size: 75px;
  }
  
  .overlay-image {
    width: min(250px, 60vw);
  }

  .title-fancy{
    padding-left: 1rem;
  }
  
  .description-fancy{
    padding-left: 1rem;
  }
}
@media (max-width: 1400px) {
  .container-fancy {
    width: 100%;
  
  }
  
  .box-fancy h1 {
    font-size: 70px;
  }
  
  .overlay-image {
    width: min(250px, 60vw);
    height: 90%;
  }

  .title-fancy{
    padding-left: 1rem;
  }
  
  .description-fancy{
    padding-left: 1rem;
  }
}


@media (max-width: 1200px) {
  .container-fancy {
    width: 100%;
  
  }
  
  .box-fancy h1 {
    font-size: 65px;
  }
  
  .overlay-image {
    width: min(250px, 70vw);
    height: 80%;
  }

  .title-fancy{
    padding-left: 1rem;
  }
  
  .description-fancy{
    padding-left: 1rem;
  }
}

@media (max-width: 800px) {
  .container-fancy {
    width: 100%;
  
  }
  
  .box-fancy h1 {
    font-size: 70px;
  }
  
  .overlay-image {
    width: min(250px, 60vw);
  }

  .title-fancy{
    padding-left: 1rem;
  }
  
  .description-fancy{
    padding-left: 1rem;
  }
}
@media (max-width: 500px) {
  .container-fancy {
    width: 100%;
  
  }
  
  .box-fancy h1 {
    font-size: 90px;
  }
  
  .overlay-image {
    width: min(250px, 70vw);
  }

  .title-fancy{
    padding-left: 1rem;
  }
  
  .description-fancy{
    padding-left: 1rem;
  }
}



