.container-paper {
  height: 500vh; // Height for 6 images (100vh * 5 transitions)
  position: relative;
  background-color: transparent;
}

.image-wrapper-paper {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper-image-paper {
  position: absolute;
  max-width: 80%;
  max-height: 80vh;
  object-fit: contain;
}