.moto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.moto1 {
  display: flex;
  flex-direction: row;
 
}

.moto1-branding {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
 
}

.moto2{
  display: flex;
  flex-direction: row;
}

.moto2-branding {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
 
}

.moto3{
  display: flex;
  flex-direction: row;
}


.moto3-branding{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}



.lol1{
  width: 450px;
  height: 600px;
  overflow: hidden;
  padding: 1rem;

}

.lol2{
  width: 640px;
  height: 640px;
  overflow: hidden;
  padding: 1rem;

}


.lol3{
  width: 1200px;
  height: 600px;
  overflow: hidden;
  padding: 0rem;
  padding: 1rem;


}


@media (max-width: 500px) { 
.moto1{
  display: flex;
  flex-direction: column;
 
}

.moto1-branding {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  


 
}

.moto2{
  display: flex;
  flex-direction: column;
}

.lol1{
  width: 350px;
  height: 430px;
  overflow: hidden;
  padding: 0rem;
  padding-bottom: 1rem;

}

.lol2{
  width: 340px;
  height: 340px;
  overflow: hidden;
  padding: 0rem;
  padding: 1rem;


}

.lol3{
  width: 340px;
  height: 340px;
  overflow: hidden;
  padding: 0rem;
  padding: 1rem;


}


.moto2-branding {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0; 

}


.moto3-branding{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0; 
}

}